
@use './bulma-setup' as *; // Correctly importing all the necessary SCSS
@use './animations' as animations;
@use './button' as button;
@use './landing' as landing;
@use './navbar' as navbar;
@use './card' as card;
@use './progress-bar' as progress-bar;
@use './inputs' as inputs;
@use './typography' as typography;


:root {
  --primary-bg-color: black;
  --accent-color: #80ff46;
  --primary-text-color: white;
  --font-family: "Roboto", sans-serif;
}

html[data-theme="dark"] {
  --primary-bg-color: black;
  --accent-color: #80ff46;
  --primary-text-color: rgb(204, 204, 204);
  --muted-text-color: rgb(119, 119, 119);
}

html[data-theme="light"] {
  --primary-bg-color: #EEEEEE;
  --accent-color: #80ff46;
  --primary-text-color: #373A40;
  --muted-text-color: #686D76;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  color-scheme: light;

  &[data-theme="dark"] {
    color-scheme: dark;

    @supports not (color-scheme: dark) {
      background: var(--primary-bg-color);
    }
  }
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;

  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--font-family);
}
