.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-bg-color);

    thead {
        background-color: var(--primary-bg-color);
        th {
            color: var(--primary-text-color);
            font-weight: 500;
            padding: 12px 16px;
            text-align: left;
            font-size: 14px;
            border-bottom: 1px solid var(--muted-text-color);
        }
    }

    tbody {
        tr {
            transition: background-color 0.2s ease;

            &:hover {
                background-color: rgba(174, 255, 167, 0.04); // Slightly transparent accent color
            }

            &:active {
                background-color: rgba(174, 255, 167, 0.08); // Slightly more opaque accent color
            }

            td {
                padding: 12px 16px;
                font-size: 14px;
                color: var(--primary-text-color);
                border-bottom: 1px solid var(--muted-text-color);

                &.numeric {
                    text-align: right;
                }
            }
        }
    }
}
